<p id="notice"><%= notice %></p>

<h1>Listing Developers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    <tr>
  <thead>
  <tbody>
    <% @developers.each do |developer| %>
    <tr>
      <td><%= developer.name %></td>
      <td><%= developer.type %></td>
    </tr>
    <% end %>
  </tbody>
<table>

<br>

<%= link_to 'New Developer', new_developer_path %>
